* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  line-height: 1.3;
  background-color: #f1f0f8;
  font-family: Arial, Helvetica, sans-serif;
}

.photo {
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding: 10px;
  background-color: #c1dae0;
}
